@font-face { 
  font-family: "Obviously"; 
    src: local("Obviously Extended"),
      // url("../fonts/obviouslyextnd.woff2") format("woff2"),
      url("../fonts/obviouslyextnd.woff") format("woff");
  font-style: normal; 
  font-weight: 400; 
}

@font-face { 
  font-family: "Obviously"; 
    src: local("Obviously Regular"),
      // url("../fonts/obviouslyregular.woff2") format("woff2"),
      url("../fonts/obviouslyregular.woff") format("woff");
  font-style: normal; 
  font-weight: 400; 
}

@font-face { 
  font-family: "Obviously"; 
    src: local("Obviously Bold"),
      // url("../fonts/obviouslyregular.woff2") format("woff2"),
      url("../fonts/obviouslybold.woff") format("woff");
  font-style: bold; 
  font-weight: 800; 
}