/* Fonts */
$font-family: "Obviously", "Arial", sans-serif;

/* Colors */
$dark-text: #333333;
$light-text: #ffffff;
$dark-title: #000000;
$basic-blue: #81b3d2;
$basic-grey: #eeeeee;

$page-background: #f2f2f2;


// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;

// Containers
$mobile-width-container: 520px;
$tablet-width-container: 768px;
$desktop-width-container: 1200px;
$desktop-1440-width-container: 1200px;
$desktop-1600-width-container: 1200px;
