.gallery {

    &__wrapper {
        background-color: #020685; 
    }

    &__list {
        @include reset;
    }

    &__item {
        @include reset-list;
        width: 100%;

        img {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
}

@media (min-width: $tablet-width-container) {
    .gallery {
        &__list {
            @include reset;
    
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        &__item {
            width: 50%;

            &--wide {
                width: 100%;
            }
        }
    }
}