.masonry {

    &__list {
        @include reset;
        @include reset-list;
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        column-count: 2;
        column-width: auto;
        width: 100%;
        // grid-template-columns: 1fr 340px;
        // grid-template-rows: 1fr auto;
      }

    img {
        max-width: 100%;
        display: block;
    }

    &__item {
        @include reset;
        margin-bottom: 50px;
        display: grid;
        grid-column: span 4;
        grid-template-rows: 2fr 1fr;
        break-inside: avoid;

        // & picture {
            grid-row: 1 / -1;
            grid-column: 1;
        // }

        &--wide {
            grid-column: span 8;
        }
    }


    &__caption {
        @include reset;
        padding-top: 20px;
        font-weight: normal;
        font-size: 18px;
    }

 
}