.page-main {
    @include reset;
    background-color: white;
    padding-top: 100px;

    &__title {
        @include reset;
        margin-bottom: 40px;

        font-size: 18px;
        line-height: 32px;
        font-weight: normal;
    }
}

@media (min-width: $tablet-width) { 
    .page-main {

        &__title {
            margin-bottom: 100px;
            max-width: 80vw;
    
            font-size: 24px;
            line-height: 36px;
        }
    }
}

@media (min-width: $desktop-width) { 
    .page-main {

        &__title {
            margin-bottom: 120px;
            max-width: 60vw;
    
            font-size: 36px;
            line-height: 56px;
        }
    }
}