.site-navigation {
    position: relative;

    &__list {
        @include reset-list;
        color: $dark-title;
        font-size: 18px;
        line-height: 40px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }

    &__item {
        position: relative;
        text-align: right;
padding-left: 40px;


    }
    
    &__link {
        @include reset-link;
    }
}

